.heading{
    font-size: 23px;
    width: 100%;
    margin: 0px;
    box-shadow: 5px 5px 5px darkslategrey;
}
.note{
    font-size: 13px;
    color: black;
}
.copyright_footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: brown;
    color: black;    
    line-height: 3;
    text-align: center;
}
body{
    background-color: dimgray;
}
canvas{
    border: 5px solid wheat ;
    border-radius: 20px;
    box-shadow: 5px 5px 5px black;
}